@page "/"

    <form action="/" method="post">
        keyword: <input type="text" name="keyword"> <button type="submit">Search</button> <br>
        <select name="lang_select">
            <option value="en">en</option>
            <option value="jp">jp</option>
        </select>
        
    </form>

    @*<SurveyPrompt Title="How is Blazor working for you?" />*@
