@page "/"

@using dangan.Client.Model;

@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<form action="/search" method="post">
    keyword: <input type="text" name="keyword">  <button type="submit">Search</button> <br>
    <select name="lang_select">
        <option value="en">en</option>
        <option value="jp">jp</option>
    </select>

</form>


@*<EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        keyword:<InputText id="keyowrdInput" @bind-Value="model.keyword" />

        <button type="submit">Submit</button>
    </EditForm>*@


@*
    https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-5.0
    <input type="text" name="keyword">
    <SurveyPrompt Title="How is Blazor working for you?" />
*@


@code {



    KeywordModel model = new KeywordModel();

    //public class KeywordModel
    //{
    //    //[Required]
    //    //[StringLength(10, ErrorMessage = "Name is too long.")]
    //    public string Name { get; set; }
    //}

    private void HandleSubmit()
    {

    }



    void MethodToTriggerUrl()
    {
        NavigationManager.NavigateTo("/");
    }
}