*.zip
*.lnk
*.DS_Store
*.suo
.suo
*.user
_ReSharper.*
bin
obj
DesignTimeBuild
packages
lang/programming/algo/.vscode/settings.json
lang/programming/csharp/anime/.vs/anime/v16/.suo
lang/programming/csharp/anime/.vs/anime/v16/.suo
lang/programming/csharp/anime/.vs/anime/v16/.suo
lang/programming/csharp/anime/.vs/anime/v16/.suo
lang/programming/csharp/animev0/.vs/animev0/config/applicationhost.config
lang/programming/csharp/anime/.vs/anime/v16/.suo
