*.zip
*.lnk
*.DS_Store
*.suo
*.user
_ReSharper.*
node_modules
dicts
neologd
bin
obj
tmp
DesignTimeBuild
packages
lang/programming/algo/.vscode/settings.json
applicationhost.config
package-lock.json


lang/programming/python/studioclassroom_FulltextSearch/insertpokemon/config.js
*.mp4
lang/programming/python/studioclassroom_FulltextSearch/insertpokemon/tmp.srt
