MNIST
*.zip
*.lnk
*.DS_Store
*.suo
*.user
*.onnx
_ReSharper.*
.mono
node_modules
train_images
test_images
train_gts
test_gts
train_data
黑白
GD500
GD500_mmocr
icdar2015_aliocr
icdar2015_dbnet
all_data
dicts
neologd
bin
obj
tmp
MNIST_data
DesignTimeBuild
packages
lang/programming/algo/.vscode/settings.json
applicationhost.config
package-lock.json


config.js
*.mp4
*.mkv
lang/programming/python/studioclassroom_FulltextSearch/insertpokemon/tmp.srt
*.v2
*.v2
lang/programming/csharp/dangan/.vs/dangan/v16/.suo
*.v2
lang/programming/csharp/dangan/.vs/dangan/DesignTimeBuild/.dtbcache.v2
lang/programming/csharp/dangan/.vs/dangan/v16/.suo
*.ipch
*.filters
*.db
*.db-shm
*.db-wal
*.opendb
lang/programming/python/opencv/文字检测/EAST_Text_Detection/frozen_east_text_detection.pb
lang/programming/pytorch/机器翻译/中英平行语料520万_translation2019zh/translation2019zh_train.json
lang/programming/pytorch/机器翻译/中英平行语料520万_translation2019zh/translation2019zh_valid.json
lang/programming/pytorch/机器翻译/中英平行语料520万_translation2019zh/en_chs/src-train.txt
lang/programming/pytorch/机器翻译/中英平行语料520万_translation2019zh/en_chs/tgt-train.txt
lang/programming/pytorch/机器翻译/中英平行语料520万_translation2019zh/en_chs/src-test.txt
lang/programming/pytorch/机器翻译/中英平行语料520万_translation2019zh/en_chs/src-val.txt
lang/programming/pytorch/机器翻译/中英平行语料520万_translation2019zh/en_chs/tgt-test.txt
lang/programming/pytorch/机器翻译/中英平行语料520万_translation2019zh/en_chs/tgt-val.txt
lang/programming/pytorch/文本检测/DBNET/DB_TD500_resnet50.onnx
lang/programming/pytorch/文本检测/文本检测数据集/*
lang/programming/pytorch/文本检测/DBNET/DBNet的简单复现/data_icdar2015/*
lang/programming/pytorch/文本检测/DBNET/DBNet官方实现/TD_TR/*
lang/programming/pytorch/文本检测/车牌检测/mnet_plate.pth
lang/programming/pytorch/文本检测/车牌检测/my_lprnet_model.pth
lang/programming/pytorch/文本检测/车牌检测/simhei.ttf
lang/programming/python/pdawiki_sign/chromedriver.exe
lang/programming/pytorch/文本检测/DBNET/DBNet的简单复现/model/DBnet_pytorch.pth
lang/programming/pytorch/jax/train-images-idx3-ubyte.gz
