/* 
 * Toolbar Font
 *
 * Version: 1.0.1
 */

@font-face {
    font-family:"Lato-tb";
    src: url("fonts/lato-regular.woff2") format("woff2"),
    	 url("fonts/lato-regular.woff") format("woff"),
    	 url("fonts/lato-regular.ttf") format("truetype");
    font-style: normal;
    font-style: normal;
}