<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<userSettings>
		<MathpixCsharp.Properties.Settings>
			<setting name="id" serializeAs="String">
				<value />
			</setting>
			<setting name="key" serializeAs="String">
				<value />
			</setting>
			<setting name="isOfficial" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="uses" serializeAs="String">
				<value>0</value>
			</setting>
		</MathpixCsharp.Properties.Settings>
	</userSettings>
</configuration>