@using AntDesign

<Button type="primary" OnClick="(e)=>OnClick(e)">@_content</Button>

@code{
    private string _content = "Primary";
    private void OnClick(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        _content += "*";
    }
}